Hello! This is notebook for "Week 3 Assingment: Segmenting and Clustering Neighborhoods in Toronto" .

## Part 1

In [1]:
! pip install lxml
! pip install numpy
! pip install pandas
! pip install bs4

Requirement already satisfied: lxml in /Users/julija/.conda/envs/Coursera_Capstone/lib/python3.8/site-packages (4.5.1)
Requirement already satisfied: numpy in /Users/julija/.conda/envs/Coursera_Capstone/lib/python3.8/site-packages (1.18.5)
Requirement already satisfied: pandas in /Users/julija/.conda/envs/Coursera_Capstone/lib/python3.8/site-packages (1.0.4)
Requirement already satisfied: pytz>=2017.2 in /Users/julija/.conda/envs/Coursera_Capstone/lib/python3.8/site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.13.3 in /Users/julija/.conda/envs/Coursera_Capstone/lib/python3.8/site-packages (from pandas) (1.18.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/julija/.conda/envs/Coursera_Capstone/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /Users/julija/.conda/envs/Coursera_Capstone/lib/python3.8/site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)
Requirement already satisfied: bs4 in /Users/julija/.conda/envs/Coursera_Capstone/lib/python3.8/site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /Users/julija/.conda/envs/Coursera_Capstone/lib/python3.8/site-packages (from bs4) (4.9.1)
Requirement already satisfied: soupsieve>1.2 in /Users/julija/.conda/envs/Coursera_Capstone/lib/python3.8/site-packages (from beautifulsoup4->bs4) (2.0.1)

In [55]:
import numpy as np  
import pandas as pd 
import lxml

### Let's transform wiki table to csv file and read it

In [3]:
import requests
from bs4 import BeautifulSoup

URL = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
response = requests.get(URL)
soup = BeautifulSoup(response.text,'html.parser')

table = soup.find('table',{'class':'wikitable sortable'}).tbody
rows = table.find_all('tr')
columns = [v.text.replace('\n','') for v in rows[0].find_all('th')]

df = pd.DataFrame(columns=columns)

for i in range(1,len(rows)):
    tds = rows[i].find_all('td')

    if len(tds)==4:
        values = [tds[0].text, tds[1].text, tds[2].text, tds[3].text.replace('\n',''.replace('\xa0',''))]
    else:
        values = [td.text.replace('\n',''.replace('\xa0','')) for td in tds]

    df = df.append(pd.Series(values, index=columns), ignore_index=True)
    #print(df)

    df.to_csv(r'/Users/julija/IT/Coursera_Capstone/Coursera_Capstone'+'\\posts_wiki.csv',index=False)

In [46]:
file = '/Users/julija/IT/Coursera_Capstone/Coursera_Capstone/Coursera_Capstone\posts_wiki.csv'
df = pd.read_csv(file)
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [47]:
df.shape

(180, 3)

In [48]:
df.describe(include = "all")

       Postal Code       Borough  Neighborhood
count          180           180           180
unique         180            11           100
top            M7Z  Not assigned  Not assigned
freq             1            77            77

### Identifying missing values & drop rows with "Borough" = NaN

In [49]:
df.replace("Not assigned", np.nan, inplace = True)
df.head(5)

  Postal Code           Borough               Neighborhood
0         M1A               NaN                        NaN
1         M2A               NaN                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [50]:
missing_data = df.isnull()
missing_data.head(5)
print("number of NaN values for the column Borough :", df['Borough'].isnull().sum())
print("number of NaN values for the column Neighborhood :", df['Neighborhood'].isnull().sum())

number of NaN values for the column Borough : 77
number of NaN values for the column Neighborhood : 77

In [51]:
df = df.dropna(how='all', subset=['Borough'])
df

,Postal Code,Borough,Neighborhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [52]:
df = df.reset_index(drop=True)
df

,Postal Code,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [53]:
df.shape

(103, 3)

## Part 2

### Read file with coordinates

In [61]:
coord = 'http://cocl.us/Geospatial_data'
df2 = pd.read_csv(coord)
df2.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [62]:
df2.shape

(103, 3)

### Join both dataframes ( with Borough and with Coordinates)

In [66]:
df_withCoord = pd.merge(df, df2, on='Postal Code', how='outer')
df_withCoord

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
...,...,...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944
99,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C...",43.662744,-79.321558
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",43.636258,-79.498509
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",43.628841,-79.520999